.home {
	max-width: 250px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

.home * {
	margin-left: auto;
	margin-right: auto;
}

.home div {
	text-align: center;
}

.home img.face {
	display: block;
	border-radius: 50%;
	max-width: 250px;
	margin-bottom: 45px;
	opacity: 0.75;
}

.home a {
	text-decoration: none;
	color: #555555;
	font-size: 20px;
}

.home a:hover {
	font-size: 21px;
}

.home label {
	color: #555555;
	display: block;
}

.home .contact-info {
	margin-top: 30px;
	margin-bottom: 20px;
}

.home .contact-info a {
	font-size: 1em;
}

.home .contact-info a:hover {
	font-size: 1em;
}

.home .icons > a {
	margin: 0 10px;
	font-size: 2em;
}

.home .icons > a:hover {
	font-size: 2em;
}
